@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: white;
  font-family: "Inter" sans-serif;
  letter-spacing: -0.09px;
  border-radius: 12px;
  max-width: 405px;
  position: relative;
  padding: 16px;
}

.siwf-heading {
  line-height: 32px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.instructions {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.sign-up {
  text-decoration: none;
  color: #7C65C1;
}

.create-account {
  margin-top: 8px;
  font-size: 15.5px;
  color: rgba(0, 0, 0, 0.5);
}

.qr-code-image {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  border-color: rgba(229, 231, 235, 0.333);
  padding: 16px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
}